<%- include("partial/link") %>
<link rel="stylesheet" href="../assets/soncss.css">
<style>
	body{
		background-image: url("../assets/img/hero-area.png") ;
	}
	h1{
		text-align: center;
	}
</style>
<body>
	<header>
		<div>
			<div>
				<div>
					<ul>
						<h1>HOŞ GELDİNİZ</h1>
					</ul>
				</div>
				<div class="menu-area">
					<div class="responsive-menu"></div>
					<div class="mainmenu">
						<ul id="primary-menu">
							<li><a class="theme-btn"  href="#">Film Ekle</a></li>
							<li><a class="theme-btn" href="#">Kategori Ekle</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
