<%- include("partial/link") %>
<link rel="stylesheet" href="../assets/soncss.css">
</head>
	<body>
		<!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
                        <div class="register-area">
                            <div class="register-box">
                                <h1>KAYIT OL</h1>
                                <form method="post" action="/register">
                                    <h6>İLK AD</h6>
                                    <input type="text" name="first_name" />
                                    <h6>SON AD</h6>
                                    <input type="text" name="last_name"/>
                                    <h6>EMAİL</h6>
                                    <input type="text" name="email"/>
                                    <h6>TELEFON NUMARASI</h6>
                                    <input type="text" name="phone_number" />
                                    <h6>ŞİFRE</h6>
                                    <input type="text" name="password"/>
                                    <button href="#"  class="theme-btn">Kayıt Ol</button>
                                </form>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</section>
	</body>

</html>